html {
  height: 100%;
}

body {
	background: black;
  /*text-align: center;*/
  height: 100%;
	}
#container {
  width:960px;
  margin:0 auto;
}

.music {
	position: absolute;
}

@keyframes snow_slow {
   0%   {
    top: 0px; 
   }
 
  25%  {
    opacity: .10;
   }

   50%{
    opacity: 1;
    top: 350px;
   }

   75%{
    opacity: .10;
  
   }
   100% {
   top: 0px;
    opacity: 1;
   }
}

@-webkit-keyframes snow_slow {
   0%   {
    top: 0px;	
   }
 
  25%  {
  	opacity: .10; 
   }

   50%{
   	opacity: 1;
    top: 350px;
   }

   75%{
   	opacity: .10;
  
   }
   100% {
   top: 0px;
   	opacity: 1;
   }
}


  @-moz-keyframes snow_slow {
     0%   {
    top: 0px;  
   }
 
  25%  {
    opacity: .10;
    }

   50%{
    opacity: 1;
    top: 350px;
   }

   75%{
    opacity: .10;
  
   }

   100% {
   top: 0px;
    opacity: 1;
   }
}

.snow {
  -webkit-animation: snow_slow 5s infinite;
  -moz-animation: snow_slow 5s infinite;
  animation: snow_slow 5s infinite;
  margin: 0 auto; 
	position: relative;
  overflow: hidden;
  display: inline-block;
}

.row {
  overflow: hidden;
}

.snowflake {
background: radial-gradient(circle, white 15%, transparent 80%), #ccffff;
background: -moz-radial-gradient(circle, white 15%, transparent 80%), #ccffff;
background: -webkit-radial-gradient(circle, white 15%, transparent 80%), #ccffff;
float: left;
margin: 5px;
height:20px;
width: 20px;
position: relative;
height:20px;
width: 20px;
border-radius: 100px;
visibility: visible;
}

/*Home Page Buttons*/
button {
 /* z-index: -3;*/ 
 font-family: "Poiret One", cursive;

}

.hi {	
  background: linear-gradient(silver, #777, black, #777, silver);
  background: -webkit-linear-gradient(silver, #777, black, #777, silver);
  background: -moz-linear-gradient(silver, #777, black, #777, silver);
	border: 4px inset #777;
	text-align: center;
	font-size: 33px;
	margin-bottom: 20px;
	display: block;
	position: absolute;
	top: 150px;
	left: 510px;
	color: white;
	border-radius: 4px;
	}

.stay {
	display: none; 
	background: linear-gradient(silver, #777, black, #777, silver);
	background: -webkit-linear-gradient(silver, #777, black, #777, silver);
	background: -moz-linear-gradient(silver, #777, black, #777, silver);
	border-color: white; 
	position: absolute;
	font-size: 23px;
	text-align: center;
	width: 20%;
	top: 290px;
	left: 510px;
	color: white;
	border-radius: 4px;
}

.expand:hover {
  background: linear-gradient(black, white, silver, silver, white, silver, silver, white, black);
  background: -webkit-linear-gradient(black, white, silver, silver, white, silver, silver, white, black);
  background: -moz-linear-gradient(black, white, silver, silver, white, silver, silver, white, black);
  color: black;
}

.enter {	
  background: linear-gradient(silver, #777, black, #777, silver);
  background: -webkit-linear-gradient(silver, #777, black, #777, silver);
  background: -moz-linear-gradient(silver, #777, black, #777, silver);
	display: none; 
	border: 4px inset #777;
	text-align: center;
	font-size: 33px;
	margin-bottom: 20px;
	display: block;
	position: absolute;
	top: 220px;
	left: 509px;
	color: white;
	border-radius: 4px;
	}

.notes {
	font-size: 10em; 
	color: white;
  z-index: 500px; 
}

.hidden_notes {
  display: none;  
}

@keyframes sway {
 from {color: white; }
  to { color:#67E6EC; transform: rotate(40deg); } 
}


@-webkit-keyframes sway{
  from {color: white; }
  to { color:#67E6EC; transform: rotate(40deg); } 
}

@-moz-keyframes sway{
 from {color: white; }
 to { color:#67E6EC; transform: rotate(40deg); } 
}


.eighth {
  transform-origin: left top;
  transform: rotate(-40deg);
  animation: sway 2.2s infinite alternate ease-in-out;
  -webkit-animation: sway 2.2s infinite alternate ease-in-out;
  -moz-animation: sway 2.2s infinite alternate ease-in-out;
  position: fixed;
  bottom: -180px;
  left: 575px;
  width: 100px;
}

.quarter {
transition: 2s ease-in-out;
position: fixed;
top: 40px;
left: 200px;
width: 100px; 
}

.quarter:hover {
  transform:rotateX(180deg);
  color: #f0c200;
}

.two_eighths {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
     
position: fixed;
top: 40px;
left: 875px;
width: 100px; 

}
 
.two_eighths:hover  
{
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  color: #f0c200;
} 



/*Slides.html*/

audio {
opacity: 0.2; 
margin: auto 0; 
/*width: 100%;*/
background: black;
background-color: navy;
position: absolute;
/*top: 700px;*/
}


#slideshow {
	margin: 0 auto;
	/*height: 700px;
	width: 900px;*/
/*	background-image: url('images/background.png');*/
  background: linear-gradient(white, silver, silver, white, silver, silver, white);
  background: -webkit-linear-gradient(white, silver, silver, white, silver, silver, white);
  background: -moz-linear-gradient(white, silver, silver, white, silver, silver, white);
 /* height: 80%;*/
	/*border-radius: 7px;*/
}

#top_frame{
  background-color: black;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  /*position: fixed;*/
  /*margin: 60px;*/
}

#bottom_frame{
  background-color: black;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
 /* position: fixed;*/
}

#image_background {
  /*width: 100%;*/
  display: inline-block;
  padding: 35px;
  height: 100%;
  width: 80%;
}

#photography {
  /*position: relative;*/
  /*top: 60px;*/ 
  -webkit-transition:-webkit-filter 6.0s ease-in-out; 
  opacity: 0.4;
/*  padding-bottom: 80px;*/ 
  float:right;
}

.colorless {
    filter: grayscale(1);
   -webkit-filter: grayscale(1);
   -moz-filter: grayscale(1); /*not working in Firefox*/
}

.change input[type="button"] {
  background: linear-gradient(silver, #777, black, #777, silver);
  background: -webkit-linear-gradient(silver, #777, black, #777, silver);
  background: -moz-linear-gradient(silver, #777, black, #777, silver);
  border-color: white; 
  position: relative;
  /*left:20px;*/
  font-size: 16px;
  text-align: center;
  font-family: "Poiret One", cursive;
  width: 250px;
  /*top: 80px;*/
  color: white;
  border-radius: 4px;
  margin-top: 20px; 
}

.instructions {
  font-family: "Poiret One", cursive;
  /*position: fixed;*/
  padding: 10px;
  font-size: 20px; 
  margin-left: 15px;
  color: gray;
}
